.nav-link {
  position: relative;
  overflow: hidden;
  height: 35px;
}
.nav-link a {
  display: block;
}
.nav-link .div,
.nav-link a {
  height: 100%;
  cursor: pointer;
  transition: all 0.2s;
}
.nav-link > a:after, .nav-link > .div:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #d60000;
  transition: all 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover {
  overflow: visible;
}
.nav-link:hover > a, .nav-link:hover > .div {
  color: #d60000;
}
.nav-link:hover > a:after, .nav-link:hover > .div:after {
  width: 100%;
  left: 0;
}
.nav-link.active > a, .nav-link.active > .div {
  color: #d60000;
}
.nav-link.active > a::after, .nav-link.active > .div::after {
  width: 100%;
  left: 0;
}
.nav-link.nav-link-responsive {
  width: 100%;
  margin: 10px 0;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  overflow: visible;
}
.nav-link.nav-link-responsive.active .dropdown {
  display: block;
}
.nav-link.nav-link-responsive.active > a, .nav-link.nav-link-responsive.active > .head {
  color: #d60000;
}
.nav-link.nav-link-responsive.active > a svg, .nav-link.nav-link-responsive.active > .head svg {
  fill: #d60000;
  transform: rotateZ(180deg);
}
.nav-link.nav-link-responsive.active-link > a, .nav-link.nav-link-responsive.active-link > .head {
  color: #d60000;
}
.nav-link.nav-link-responsive.active-link > a svg, .nav-link.nav-link-responsive.active-link > .head svg {
  fill: #d60000;
}
.nav-link.nav-link-responsive > a:after,
.nav-link.nav-link-responsive .div:after {
  display: none;
}
.nav-link.nav-link-responsive .dropdown {
  width: 100% !important;
  position: static;
  background-color: white;
  padding: 5px 20px;
  display: none;
}
.nav-link.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nav-link .dropdown {
  cursor: default;
  position: absolute;
  z-index: 9;
  top: 35px;
  left: 0;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 20px;
  background-color: #f6f6f6;
  display: block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 1px 6px 15px -5px rgba(34, 60, 80, 0.12);
}
.nav-link .dropdown a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 8px 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 40px !important;
  color: rgba(255, 255, 255, 0.541);
  transition: all 0.1s linear;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: white;
}

.swiper-pagination {
  bottom: 60px !important;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 32px;
  height: 12px;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(210, 212, 215, 0.7725490196);
  margin: 0 !important;
  margin-right: 20px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: 45px;
  background-color: #f7c800;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio-buttons input[type=radio],
.radio-buttons input[type=checkbox] {
  display: none;
}
.radio-buttons label {
  cursor: pointer;
  position: relative;
  font-size: 16px;
}
.radio-buttons label::before,
.radio-buttons label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
}
.radio-buttons label::before {
  background-color: white;
  border-radius: 35%;
  transition: border-color 400ms ease;
  border: 1px solid #d6d6d6;
}
.radio-buttons label::after {
  background-color: #d60000;
  border-radius: 50%;
  transform: translateY(-50%) scale(0);
  transition: transform 200ms ease;
}
.radio-buttons input[type=radio]:checked + label::after,
.radio-buttons input[type=checkbox]:checked + label::after {
  transform: translateY(-50%) scale(0.6);
}

@media (max-width: 768px) {
  .swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px !important;
  }
  .swiper-pagination {
    bottom: 40px !important;
  }
}
@media (max-width: 576px) {
  .swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 25px !important;
  }
  .swiper-pagination {
    bottom: 30px !important;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 25px;
    height: 10px;
    margin-right: 15px !important;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    width: 35px;
  }
  #videoWrapper {
    height: 250px !important;
  }
}/*# sourceMappingURL=custom.css.map */